version: "3.9"

services:
  db:
    image: postgres:17
    ports:
      - "127.0.0.1:5432:5432"
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "127.0.0.1:6379:6379"
    restart: always

  musescore-headless:
    build:
      context: .
      dockerfile: musescore-headless/musescore.Dockerfile
    restart: unless-stopped
    environment:
      - QT_QPA_PLATFORM=offscreen
    ports:
      - "1234:1234"
volumes:
  postgres_data:
