version: "3.9"

services:
  db:
    image: postgres:17
    ports:
      - "127.0.0.1:5432:5432"
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "127.0.0.1:6379:6379"
    restart: always

  musescore-headless:
    image: musescore.Dockerfile
    restart: unless-stopped
    volumes:
      - /srv/divisi-app:/srv/divisi-app
    environment:
      - QT_QPA_PLATFORM=offscreen
    command: ["sleep", "infinity"]
volumes:
  postgres_data:
